{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card">
                <div class="card-header px-4 py-3">
                    <h5 class="mb-0">Add New Blog</h5>
                </div>
                <div class="card-body p-4">
                    <form id="addBlogForm" enctype="multipart/form-data">
                        <div class="row mb-3">
							<label for="input1" class="col-sm-3 col-form-label">Blog Title</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="input1" name="blog_title" placeholder="Enter Blog Title">
							</div>
						</div>
						<div class="row mb-3">
							<label for="input2" class="col-sm-3 col-form-label">Author</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="input2" name="author" placeholder="Enter Author's Name">
							</div>
						</div>
						<div class="row mb-3">
							<label for="input3" class="col-sm-3 col-form-label">Date</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="input3" name="date">
							</div>
						</div>
						<div class="row mb-3">
							<label for="input4" class="col-sm-3 col-form-label">Featured Image</label>
							<div class="col-sm-9">
								<input type="file" class="form-control" id="input4" name="featured_image">
							</div>
						</div>
						
						<div class="row mb-3">
							<label for="input6" class="col-sm-3 col-form-label">Blog Description</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="input5" name="description" rows="4" placeholder="Enter Job Description"></textarea>
							</div>
						</div>
						

                        <div class="row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="submit" class="btn btn-primary px-4" name="submit2">Submit</button>
                                    <button type="reset" class="btn btn-light px-4">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="successMessage" class="text-success"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#addBlogForm').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            
            // Update input field names to match those in the form
            var blog_title = $('#input1').val();
            var featured_image = $('#input4')[0].files[0];
            var author = $('#input2').val();
            var date = $('#input3').val();
            var description = $('#input5').val();

            formData.append('blog_title', blog_title);
            formData.append('author', author);
            formData.append('date', date);
            formData.append('featured_image', featured_image);
            formData.append('description', description);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                type: 'POST',
                url: '{% url "add_blog" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    document.getElementById("input1").value = "";
                    document.getElementById("input2").value = "";
                    document.getElementById("input3").value = "";
                    document.getElementById("input4").value = "";
                    document.getElementById("input5").value = "";
                    
                    
                    $('#successMessage').text(response.data).fadeOut(3000);
                },
                error: function() {
                    alert('There was an error submitting the form!');
                }
            });
        });
    });
</script>
{% endblock %}
