{% extends 'base.html' %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card">
                    <div class="card-header px-4 py-3">
                        <h5 class="mb-0">Export Success</h5>
                    </div>
                    <div class="card-body p-4">
                        <p>Your job applications data and resume files have been exported successfully.</p>
                        <a href="{{ excel_download_url }}" class="download-link" download>Download Excel File</a><br>
                        <br>
                        <a href="{{ zip_download_url }}" class="download-link" download disabled>Download ZIP </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const downloadLinks = document.querySelectorAll('.download-link');

        downloadLinks.forEach(link => {
            link.addEventListener('click', () => {
                link.classList.add('disabled');
            });
        });
    </script>
{% endblock %}
